<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>John Appleseed</string>
		<key>Serial</key>
		<string>MCwCFANaWbsbaPQG5w49wKnET/18mae6AhQtjQNkCi31Qx/rCb7ZNcHrx7Rn+A==</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Константин Павлихин</string>
		<key>Serial</key>
		<string>MCwCFHp/nJx5YFf1aIAryapoPaTe6YfGAhRz54syoXOysHJfuFmQLSMjAGBOKQ==</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ประเทศไทย</string>
		<key>Serial</key>
		<string>MCwCFCrJdnX3dqXrLBudbOAwBaJTtRu4AhRoj013XSAc35a4ChEEHPLGvLoZzA==</string>
	</dict>
</array>
</plist>
