<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>John Appleseed</string>
		<key>Serial</key>
		<string>MGUCMQCxs354e4V1AD27cyaj6ESMcnS92bunHsiYzBTHlr/3jpPzdI6QAqo74+FMjEy4nDwCMA0H3UnQGOAbB/6sOZkmb5w7Lv1JBELZvnnOcYtTBWf/w4D8FL0TDdZMB9sjazkeKQ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Константин Павлихин</string>
		<key>Serial</key>
		<string>MGQCMDfgncHrB8gNOlTnYUVLXPayoUjaAInyNyieDwnzf6jkIG3btcAvdePsod/VUfwsXAIwGBbz78Y0LKH3aYM64V852bMQtBDxqL9E/Mbl7TPwjBVNM/IZcKJzTsn+Uym3gjVE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ประเทศไทย</string>
		<key>Serial</key>
		<string>MGYCMQCOMrweY53XDIouxHS3AO/WjK09ZIZULWhjSu3eWaGaGycMVqa0Jt9kyurm3DcFWKsCMQDdpY60qtFHckCo4zMCcty4Cg0uzqgDxLny3AfLmX7rKFB0hGFtx++LqAxrcAYBqZQ</string>
	</dict>
</array>
</plist>
