<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>John Appleseed</string>
		<key>Serial</key>
		<string>MIGIAkIBolUXzibtMTFy3feKDC9ftQcKkXg1B+8F6vBTXsW4Ig7OV4dOclHy9cdOYbod5WwyS39dg6J3bchp9IBIXzp3yNgCQgFOxl+URxuvdDacWzh8pOTwgbNvc+4ousfDDK0mNlaoiN+wz3fCmkDByNcJivJ+mCP5cSn8Vaem3UTMOo4TsUxjXA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Константин Павлихин</string>
		<key>Serial</key>
		<string>MIGHAkEu3atCfpYFBqH5Egah99SQqYCYrLGWX5teM9I3TGyOJDZRCPpBl6z3bBiPkd+067X5BC37i/eqN+Zuc6hPExkZOgJCASJILpVD8TkR2dksqVhsrkS3hqarU5WUWi+kiaR4F1fvpsN/kLnUKvqGmN4YbM7wnwwUtpUlqz8vyf5CFaL7p0M8</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ประเทศไทย</string>
		<key>Serial</key>
		<string>MIGIAkIByo6gDlNowfYCA1ge8R/Wm5wkJgbw4vjw6l7ZnmZa62V+HtCEfKDH8vSDAbSQmWA4/Xnus6uJLEI/XpUZMUOMBesCQgDKPxYN5eEnt/8ivXHqMMCMlcwayrodnI6Yym/OMOGibbf4vbGcUgih/Qftb3vmhUGiwrnjjniF5GKLejJhmmWZVw</string>
	</dict>
</array>
</plist>
